@{
    ViewData["Title"] = "Criar Contato";
}


<div class = "text-center">

    <h1 class ="display -4">Cadastrar Contatos</h1>

</div>


<form>
  <div class="mb-3">
    <label for="Nome" class="form-label">Nome</label>
    <input type="texto" class="form-control" placeholder="Digite o nome do Contato">
  </div>
  
  <div class="mb-3">
    <label for="Email" class="form-label">E-mail</label>
    <input type="texto" class="form-control" placeholder="Digite o E-mail do Contato">
  </div>

  <div class="mb-3">
    <label for="Celular" class="form-label">Celular</label>
    <input type="text" class="form-control" placeholder="Digite o celular do Contato">
  </div>

  <!--btn adcionar e voltar-->
  <button type="submit" class="btn btn-primary " >Adicionar</button>

  <a class= "btn btn-secondary " asp-controller="Contato" asp-action = "Index" role= "button"> Voltar</a>

</form>
